<%= render 'shared/errors', obj: @recipe %>

<div class="row">
	<div class="well col-md-8 col-md-offset-2">

		<%= form_for @recipe do |f| %>

			<div class="form-group">
				<%= f.label :name %>
				<%= f.text_field :name, class:"form-control" %>		
			</div>
			<div class="form-group">
				<%= f.label :summary %>
				<%= f.text_field :summary, class: 'form-control' %>				
			</div>
			<div class="form-group">
				<%= f.label :description %>
				<%= f.text_area :description, rows: 10,  class: 'form-control' %>
			</div>

			<%= f.submit( @recipe.new_record? ? 'Create Recipe' : 'Edit Recipe', class: "btn btn-success btn-block") %>

		<% end %>
		
	</div>
</div>